{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Delete Staff{% endblock title %}

{% block side_menu %}
{% include 'base/side_menu/manager_side_menu.html' %}
{% endblock side_menu %}

 {% block panel %}
 <!-- Remove panel -->
 {% endblock panel %}

{% block content %}
<div class="market-updates">
  <!-- <div class="inner-block"> -->
    <div class="price-block-main">
      <div class="prices-head">
        <h2 style="text-align:center;"><span style="color:red">Do you want to delete?</h2>
      </div>
      <div class="col-md-4 col-sm-offset-4 price-grid">
        <div class="price-block">
          <div class="price-gd-top pric-clr3">
            <h4>{{ staff.full_name }}</h4>
            <h3><span class="usa-dollar"></span>{{ staff.get_user_type_display }}<span class="per-month"></span></h3>
            <h5>{{ staff.email }}</h5>
            <h5>{{ staff.phone }}</h5>
          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>
                <li>Date Registered</li>
                <li>{{ staff.when }}</li>
              </ul>
            </div>
          </div>
          <div class="price-selet pric-clr3">
            <a class="btn-block btn-danger" href="{% url 'confirm_delete_staff' profile_id=staff.id %}"> DELETE</a>
     
            <a class="btn-block btn-primary" href="{% url 'staff_management_list' %}">CANCEL</a>
          </div>
        </div>
      </div>
    </div>
    </div>
   {% comment %}
  <div class="market-updates">
    <div class="inbox">
      <h2  style="text-align:center;">Staff Management List</h2>

      <div class="col-md-10 col-sm-offset-1 mailbox-content  tab-content tab-content-in">
        <div class="tab-pane active text-style" id="tab1">
          <div class="mailbox-border">
            <table class="table tab-border">
              <tbody>
                <tr class="unread checked">
                <!-- <th class="hidden-xs">
                <input type="checkbox" class="checkbox">
                </th>
                <th class="hidden-xs">
                <i class="fa fa-star icon-state-warning"> </i>
                </th> -->
                <th class="hidden-xs">
                Staff Full Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Staff Position
                </th>
                <th>
                  Phone
                </th>
                <th>
                  Status
                </th>
                <th style="color:blue">
                  Modify
                </th>
                <th style="color:red">
                  Delete
                </th>
                </tr>
                {% for staff in staff_list %}
                <tr class="read checked">
                <td class="hidden-xs">
                {{ staff.full_name }}
                </td>
                <td>
                {{ staff.email }}
                </td>
                <td>
                {{ staff.get_user_type_display }}
                </td>
                <td>
                {{ staff.phone }}
                </td>
                <td>
                {% if staff.active %}
                  <span style="color:green">Active</span>
                {% else %}
                  <span style="color:red">Inactive</span>
                {% endif %}

                </td>
                <td>
                  <div class="">
              	 		<a href="{% url 'modify_staff'   profile_id=staff.id %}" style="color:blue">Edit <i class="fa fa-pencil"></i></a>
              	 	</div>
                </td>
                <td>
                  <div class="" style="text-align:center">
              	 		<a href="{% url 'delete_staff'   profile_id=staff.id %}" style="color:red"><i class="fa fa fa-trash-o"></i></a>
              	 	</div>
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
{% endblock content %}
