{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Staff{% endblock title %}


{% block side_menu %}
{% include 'base/side_menu/staff_side_menu.html' %}
{% endblock side_menu %}

{% block panel %}
{% endblock panel %}

{% block content %}
<div class="inner-block">
    <div class="blank">
      <div class="border-line">
        <h2>
          <small style="color:blue;"><span style="color:#334f09"> {{ day_of_week }},   {{ today.date }}</span></small>
        </h2>
      </div>
    </div>
</div>
<div class="" style="padding-top:;">
  <div class="col-md-3 ">
    <div class="">
      {% for assigned in first_three %}
      <div class="my-popular-brand" style="margin: 5px;" >
        <div class="col-md-5 popular-bran-right">
          <a href="{% url 'create_edit_child_record' child_id=assigned.child.id %}">
            <img src="{{ assigned.child.image_url }}" alt="">
          </a>
        </div>
        <div class="col-md-7 popular-bran-left" style="border-top:3px solid #fed2ab;">
          <!-- border-right:3px solid #fed2ab; -->
            <a href="{% url 'create_edit_child_record' child_id=assigned.child.id %}">
             <h3>{{ assigned.child.full_name }}</h3>
            </a>
             <h4>{{ assigned.child.email }}</h4>
             <h5>{{ assigned.child.phone }}</h5>
        </div>
        <div class="clearfix"> </div>
      </div>
      {% endfor %}

    </div>
  </div>
	<div class="col-md-5 climate-grids">
      <div class="compose-right">
        <div class="inbox-details-default">
    			<div class="inbox-details-heading">
    				My Tasks for today
    			</div>
        </div>
      </div>
		<div class="shoppy" style="min-height:365px;">
      {% for task in task_list %}
      <div class="task-item">
        {{ forloop.counter }}<span>|</span>{{ task }}
      </div>
      {% endfor %}
		</div>
	</div>
	<div class="col-md-4 climate-grids">
    <div class="compose-right">
      <div class="inbox-details-default">
        <div class="inbox-details-heading">
          Upcomming Appiontment
        </div>
      </div>
    </div>

		<div class="shoppy" style="min-height:365px;">
		<h3></h3>
		</div>
	</div>

	<div class="clearfix"> </div>
</div>
{% endblock content %}


<!--inner block start here-->
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<h2>Select Child</h2>
    	</div>

      {% for child in children_list %}
      	<div class="col-md-3 product-grid">
      		<div class="product-items">
  	    		<div class="project-eff">
              {% comment %}
  						<div id="nivo-lightbox-demo">
                <p>
                  <a href="{% url 'select_child' child_id=child.id %}">
                    <span class="rollover1"> </span>
                  </a>
                </p>
                <!-- data-lightbox-gallery="gallery1" id="nivo-lightbox-demo" -->
              </div>
              {% endcomment %}
              <div class="container-product-img">
                <a href="{% url 'select_child' child_id=child.id %}">
                <img class="img-responsive" src="{{ child.image_url }}" alt="">
                <!-- img-responsive -->
                </a>
              </div>

  					</div>
  	    		<div class="produ-cost">
              <a href="{% url 'select_child' child_id=child.id %}">
  	    			  <h4>{{ child.full_name }}</h4>
              </a>
  	    			<h5>{{ child.phone }}</h5>
              <h5>Sex:
                {% if child.gender == 2 %}
                <span style="color:red">Nil</span>
                {% else %}
                  {{ child.get_gender_display }}
                {% endif %}
              </h5>
  	    		</div>
      		</div>
      	</div>
      {% endfor %}
      <div class="clearfix"> </div>
    </div>
</div>
