{% load staticfiles %}
<div class="sidebar-menu">
    <div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
        <!--<img id="logo" src="" alt="Logo"/>-->
    </a> </div>
    <div class="menu">
      <ul id="menu" >
        <li id="menu-home" ><a href="{% url 'manager_profile' %}"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i><span>Manage-Staff</span><span class="fa fa-angle-right" style="float: right"></span></a>
          <ul>
            <li><a href="{% url 'register_staff' %}">Add New Staff</a></li>
            <li><a href="{% url 'staff_management_list' %}">Modify Staff Status</a></li>
          </ul>
        </li>
        <li id="menu-comunicacao" ><a href="#"><i class="fa fa-edit nav_icon"></i><span>Tasks </span><span class="fa fa-angle-right" style="float: right"></span></a>
          <ul id="menu-comunicacao-sub" >
            <li id="menu-mensagens" style="" ><a href="{% url 'create_task' %}">Create Task</a></li>
            <!-- <li id="menu-arquivos" ><a href="">Assign Tasks</a></li> -->
            {% comment %}<li id="menu-arquivos" ><a href="{% url 'assign_task_list' %}">Assign Tasks</a></li> {% endcomment %}
            <li id="menu-arquivos" ><a href="{% url 'manage_all_task' %}">Manage All Tasks</a></li>
            <li id="menu-arquivos" ><a href="{% url 'completed_task' %}">Completed Tasks</a></li>
            <li id="menu-arquivos" ><a href="{% url 'incompleted_task' %}">In-completed Tasks</a></li>
          </ul>

        </li>
        <li><a href="#"><i class="fa fa fa-users nav_icon"></i><span>Children</span><span class="fa fa-angle-right" style="float: right"></span></a>
          <ul>
            <li><a href="{% url 'register_child' %}">Add Child</a></li>
            <li><a href="{% url 'children_list' %}">Children List</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fa fa-book"></i><span>Records</span></a></li>

      </ul>
    </div>
</div>


{% comment %}
<li id="menu-academico" ><a href="#"><i class="fa fa-file-text"></i><span>Pages</span><span class="fa fa-angle-right" style="float: right"></span></a>
  <ul id="menu-academico-sub" >
     <li id="menu-academico-boletim" ><a href="">Login</a></li>
    <li id="menu-academico-avaliacoes" ><a href="">Sign Up</a></li>
  </ul>
</li>

<li><a href="charts.html"><i class="fa fa-bar-chart"></i><span>Charts</span></a></li>
<li><a href="#"><i class="fa fa-envelope"></i><span>Mailbox</span><span class="fa fa-angle-right" style="float: right"></span></a>
   <ul id="menu-academico-sub" >
      <li id="menu-academico-avaliacoes" ><a href="">Inbox</a></li>
      <li id="menu-academico-boletim" ><a href="">Compose email</a></li>
     </ul>
</li>
 <li><a href="#"><i class="fa fa-cog"></i><span>System</span><span class="fa fa-angle-right" style="float: right"></span></a>
   <ul id="menu-academico-sub" >
      <li id="menu-academico-avaliacoes" ><a href="">404</a></li>
      <li id="menu-academico-boletim" ><a href="">Blank</a></li>
     </ul>
 </li>
 <li><a href="#"><i class="fa fa-shopping-cart"></i><span>E-Commerce</span><span class="fa fa-angle-right" style="float: right"></span></a>
    <ul id="menu-academico-sub" >
      <li id="menu-academico-avaliacoes" ><a href="">Product</a></li>
      <li id="menu-academico-boletim" ><a href="">Price</a></li>
    </ul>
 </li>
 {% endcomment %}
