{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Child Assignment List {% endblock title %}


	 {% block panel %}
   <!-- Remove panel -->
   {% endblock panel %}

{% block side_menu %}
{% include 'base/side_menu/staff_side_menu.html' %}
{% endblock side_menu %}

{% block content %}
{% comment %}
{% if assigned_list %}
<div class="col-lx-12 col-sm-12 col-md-12">
    <div class="market-updates">
			<div class="clearfix"> </div>
      <div class="inbox">
        <h2  style="text-align:; padding-top:20px;">Selected Children</h2>

        <div class="col-md-12  mailbox-content  tab-content tab-content-in">
					<!-- col-sm-offset-1 -->
          <div class="tab-pane active text-style" id="tab1">
            <div class="mailbox-border">
              <table class="table tab-border">
                <tbody>
                  <tr class="unread checked">
                  <th class="hidden-xs"> Child's Name </th>
                  <th> Email </th>
                  <th> phone </th>
                  <th> Gender </th>
                  <!-- <th style="color:">
                    Assigned
                  </th> -->
  								<th style="color:blue"> Modify Selection </th>
  								<!-- <th style="color:#FC8213">
                    Delete
                  </th> -->
                  </tr>
                  {% for assigned in assigned_list %}
                  <tr class="read checked">
                    <td class="hidden-xs">{{ assigned.child.full_name }}</td>
                    <td class="hidden-xs"> {{ assigned.child.email }} </td>
                    <td class="hidden-xs"> {{ assigned.child.phone }} </td>
                  <td>
                    {% if assigned.child.gender == 2 %}
                    <span style="color:red">Not Selected</span>
                    {% else %}
                    {{ assigned.child.get_gender_display }}
                    {% endif %}
                  </td>
                  <td>
                    <div class="" style="text-align:center">
                      <a href="" style="color:blue">Edit <i class="fa fa-pencil"></i></a>
											<span> | </span>
											<a href="" style="color:red"><i class="fa fa fa-trash-o"></i></a>
                    </div>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endcomment %}
<div class="clearfix"> </div>

<!--inner block start here-->
<div class="inner-block">
    <div class="product-block">
    	<div class="pro-head">
    		<h2>Select Child</h2>
    	</div>

      {% for child in children_list %}
      	<div class="col-md-3 product-grid">
      		<div class="product-items">
  	    		<div class="project-eff">

              <div class="container-product-img">
                <a href="{% url 'mandatory_select_child' child_id=child.id %}">
                <img class="img-responsive" src="{{ child.image_url }}" alt="">
                <!-- img-responsive -->
                </a>
              </div>

  					</div>
  	    		<div class="produ-cost">
              <a href="{% url 'mandatory_select_child' child_id=child.id %}">
  	    			  <h4>{{ child.full_name }}</h4>
              </a>
  	    			<h5>{{ child.phone }}</h5>
              <h5>Sex:
                {% if child.gender == 2 %}
                <span style="color:red">Nil</span>
                {% else %}
                  {{ child.get_gender_display }}
                {% endif %}
              </h5>
  	    		</div>
      		</div>
      	</div>
      {% endfor %}

      <div class="clearfix"> </div>
    </div>
</div>

{% comment %}
<div class="col-lx-12 col-sm-12 col-md-12" style="padding-top:25px;">
  <div class="market-updates">
		<!--inner block start here-->
		<div class="inner-block" style="padding-top:25px;">
		    <div class="product-block">
		    	<div class="pro-head"> <h2>Select Child</h2> </div>

		      {% for child in children_list %}
		      	<div class="col-md-3 product-grid">
		      		<div class="product-items">
		  	    		<div class="project-eff">
		              <div class="container-product-img">
		                <a href="{% url 'select_child' child_id=child.id %}">
		                <img class="img-responsive" src="{{ child.image_url }}" alt="">
		                <!-- img-responsive -->
		                </a>
		              </div>

		  					</div>
		  	    		<div class="produ-cost">
		              <a href="{% url 'select_child' child_id=child.id %}">
		  	    			  <h4>{{ child.full_name }}</h4>
		              </a>
		  	    			<h5>{{ child.phone }}</h5>
		              <h5>Sex:
		                {% if child.gender == 2 %}
		                <span style="color:red">Nil</span>
		                {% else %}
		                  {{ child.get_gender_display }}
		                {% endif %}
		              </h5>
		  	    		</div>
		      		</div>
		      	</div>
		      {% endfor %}

		      <div class="clearfix"> </div>
		    </div>
		</div>


  </div>
</div>
{% endcomment %}
{% endblock content %}

{% comment %}
<div class="inbox">
	<h2  style="text-align:center; color:red;">Un-assigned Child's List</h2>
	<div class="col-md-10 col-sm-offset-1 mailbox-content  tab-content tab-content-in">
		<div class="tab-pane active text-style" id="tab1">
			<div class="mailbox-border">
				<table class="table tab-border">
					<tbody>
						<tr class="unread checked">
						<th class="hidden-xs"> Child's Name </th>
						<th> Email </th>
						<th> phone </th>
						<th> Gender </th>
						<th style="color:blue"> Select Child </th>
						<!-- <th style="color:#FC8213">
							Delete
						</th> -->
						</tr>
						{% for child in children_list %}
						<tr class="read checked">
							<td class="hidden-xs"> {{ child.full_name }} </td>
							<td class="hidden-xs"> {{ child.email }} </td>
							<td class="hidden-xs"> {{ child.phone }} </td>
						<td>
							{% if child.gender == 2 %}
							<span style="color:red">Not Selected</span>
							{% else %}
							{{ child.get_gender_display }}
							{% endif %}
						</td>

						<td>
							<div class="" style="text-align:center">
								<a href="{% url 'mandatory_select_child' child_id=child.id %}" style="color:blue"> <i class="fa fa-check "></i></a>
							</div>
						</td>
						<!-- <td>
							<div class="" style="text-align:center">
								<a href="" style="color:red"><i class="fa fa fa-trash-o"></i></a>
							</div>
						</td> -->
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endcomment %}
