{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Child Assignment List {% endblock title %}


	 {% block panel %}
   <!-- Remove panel -->
   {% endblock panel %}

{% block side_menu %}
{% include 'base/side_menu/staff_side_menu.html' %}
{% endblock side_menu %}

{% block content %}
{% if assigned_list %}
<div class="col-lx-12 col-sm-12 col-md-12">
    <div class="market-updates">
      <div class="inbox">
        <h2  style="text-align:center;">Selected Children</h2>

        <div class="col-md-10 col-sm-offset-1 mailbox-content  tab-content tab-content-in">
          <div class="tab-pane active text-style" id="tab1">
            <div class="mailbox-border">
              <table class="table tab-border">
                <tbody>
                  <tr class="unread checked">
                  <th class="hidden-xs">
                  Child's Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    phone
                  </th>
                  <th>
                    Gender
                  </th>
                  <!-- <th style="color:">
                    Assigned
                  </th> -->
  								<th style="color:blue">
                    Modify Selection
                  </th>
  								<!-- <th style="color:#FC8213">
                    Delete
                  </th> -->
                  </tr>
                  {% for assigned in assigned_list %}
                  <tr class="read checked">
                    <td class="hidden-xs">
                    {{ assigned.child.full_name }}
                    </td>
                    <td class="hidden-xs">
                    {{ assigned.child.email }}
                    </td>
                    <td class="hidden-xs">
                    {{ assigned.child.phone }}
                    </td>
                  <td>
                    {% if assigned.child.gender == 2 %}
                    <span style="color:red">Not Selected</span>
                    {% else %}
                    {{ assigned.child.get_gender_display }}
                    {% endif %}
                  </td>
                  <td>
                    <div class="" style="text-align:center">
                      <a href="" style="color:blue">Edit <i class="fa fa-pencil"></i></a>
											<span> | </span>
											<a href="" style="color:red"><i class="fa fa fa-trash-o"></i></a>
                    </div>
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="col-lx-12 col-sm-12 col-md-12" style="padding-top:25px;">
  <div class="market-updates">
    <div class="inbox">
      <h2  style="text-align:center; color:red;">Un-assigned Child's List</h2>
      <div class="col-md-10 col-sm-offset-1 mailbox-content  tab-content tab-content-in">
        <div class="tab-pane active text-style" id="tab1">
          <div class="mailbox-border">
            <table class="table tab-border">
              <tbody>
                <tr class="unread checked">
                <th class="hidden-xs">
                Child's Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  phone
                </th>
                <th>
                  Gender
                </th>
                <th style="color:blue">
                  Select Child
                </th>
								<!-- <th style="color:#FC8213">
                  Delete
                </th> -->
                </tr>
                {% for child in children_list %}
                <tr class="read checked">
                  <td class="hidden-xs">
                  {{ child.full_name }}
                  </td>
                  <td class="hidden-xs">
                  {{ child.email }}
                  </td>
                  <td class="hidden-xs">
                  {{ child.phone }}
                  </td>
                <td>
                  {% if child.gender == 2 %}
                  <span style="color:red">Not Selected</span>
                  {% else %}
                  {{ child.get_gender_display }}
                  {% endif %}
                </td>

                <td>
                  <div class="" style="text-align:center">
                    <a href="{% url 'select_child' child_id=child.id %}" style="color:blue"> <i class="fa fa-check "></i></a>
                  </div>
                </td>
                <!-- <td>
                  <div class="" style="text-align:center">
                    <a href="" style="color:red"><i class="fa fa fa-trash-o"></i></a>
                  </div>
                </td> -->
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
